body{
    margin : 0;
}

#mainScreen{
    display : inline-block;
    position : relative;
    background-image : url('../img/fullBackgd.png');
    width : 3332px;
    height : 2562px;
}
#controls{
    display : inline-block;
    position : absolute;
    left : 3333px;
    top : 0px;
    background-color: #777;
    font-size: 3em;
    width : 800px;
    height : 2162px;
    padding: 200px;
}



.plane{
    background-image: url('../img/planeIcon.png');
    position : absolute;
    width : 31px;
    height : 31px;
    top : 90px;
    left : 150px;
}

form{
    width : 800px;
}

form p{
    font-size: 1.2em;
    margin : 10px 5px;
}

input, select, option{
    padding : 4px;
    background-color: #EEE;
    font-size: 0.8em;
}

input[type=number]{
    max-width: 120px;
}

@keyframes toMtl{
    to{left: 1509px; top: 1624px;}
}
@keyframes toLtp{
    to{left: 1764px; top: 999px;}
}
@keyframes toRapid{
    to{left: 2708px; top: 235px;}
}
@keyframes toLse{
    to{left: 1600px; top: 833px;}
}
@keyframes toMen{
    to{left: 759px; top: 1631px;}
}
@keyframes toCfa{
    to{left: 736px; top: 851px;}
}
@keyframes toVulca{
    to{left: 692px, top: 601px}
}
@keyframes toJambi {
    to{left: 2485px, top: 2171px}
}
@keyframes toGai {
    to{left: 150px, top: 2073px}
}
@keyframes toBiela {
    to{left: 3307px, top: 1030px}
}
