body{
    margin : 0;
}

#mainScreen{
    display : inline-block;
    overflow : hidden;
    position : relative;
    background-image : url('../img/fullBackgd.png');
    width : 3332px;
    height : 2562px;
}
#controls{
    display : inline-block;
    position : absolute;
    left : 3333px;
    top : 0px;
    background-color: #777;
    font-size: 3em;
    width : 1120px;
    height : 2262px;
    padding: 150px;
}
#dialogBox{
    text-align: center;
    font-size: 1.5em;
}

.plane{
    overflow : visible;
    position : absolute;
}
.planeIcon{
    background-image : url('../img/planeIcon.png');
    position : relative;
    width : 31px;
    height : 31px;
    left : -15px;
    top : -15px;
}
.infoBox{
    font-family: sans-serif;
    margin : 0;
    padding: 0;
    color : white;
    position : relative;
    font-size: 2em;
    width : 220px;
    height : 180px;
    left : 10px;
    top : 20px;
}
ul,li{
    list-style: none;
}
.now{
    color : red;
}
.exitSectorOff{
    color : black;
}
.exitSectorOn{
    color : white;
}


form{
    width : 1000px;
}

form p{
    font-size: 0.9em;
    margin : 20px 5px;
}

input, select, option{
    margin-right: 80px;
    padding: 4px;
    height : 64px;
    background-color: #EEE;
    font-size: 0.8em;
}
input[type=text], .namelist{
    width: 400px;
}
input[type=checkbox]{
    margin-right: 10px;
}

input[type=number]{
    width: 120px;
}
input[type=submit]{
    background-color: #DDD;

    border: 1px black solid inset;
}
#fl{
    position : relative;
}

#flnames{
    left: 200px;
    top: 178px;
}

.nameslist{
    display : none;
    position: absolute;
    background-color: #EEE;
    margin: 0;
    padding: 0;
}

.nameslist li:hover{
    background-color: lightblue;
    cursor: pointer;
}
/*Classic route or direct order*/
@keyframes toBiela {
    to{left: 3322px; top: 1045px;}
}
@keyframes toBusua {
    to{left: 2486px; top: 1321px}
}
@keyframes toCfa{
    to{left: 751px; top: 866px;}
}
@keyframes toEtori {
    to{left: 755px; top: 1893px;}
}
@keyframes toGai {
    to{left: 165px; top: 2088px;}
}
@keyframes toGrena {
    to{left: 2056px; top: 1463px;}
}
@keyframes toJambi {
    to{left: 2500px; top: 2186px;}
}
@keyframes toLanza{
    to{left: 973px; top: 1457px;}
}
@keyframes toLse{
    to{left: 1615px; top: 848px;}
}
@keyframes toLtp{
    to{left: 1779px; top: 1015px;}
}
@keyframes toMen{
    to{left: 774px; top: 1646px;}
}
@keyframes toMindi {
    to{left: 1163px; top: 1277px;}
}
@keyframes toMozao {
    to{left: 2086px; top: 765px;}
}
@keyframes toMtl{
    to{left: 1524px; top: 1639px;}
}
@keyframes toRapid{
    to{left: 2723px; top: 250px;}
}
@keyframes toSpidy {
    to{left: 996px; top: 1814px;}
}
@keyframes toVulca{
    to{left: 707px; top: 616px;}
}
